<div class="calculator-area">
    <div class="title">Calculator</div>
    <div class="description">Determine the severity of atopic dermatitis in each of the four body regions.</div>
    <div class="tabs desktop">
        <!-- @click="switchTab(tab.component); selectTab(tab.abbreviation)" -->
        <div
            v-for="(tab,index) in Object.values(tabs)"
            :key="tab.name"
            class="tab"
            :class="{'active': tab.component === currentTabComponent}"
            @click="changeTab(tab)"
        >
            <div class="tab-area">
                <div class="no">
                    <div  class="ball">
                        {{tab.id}}
                    </div>
                </div>
                <div class="wordings">
                    <div class="text">{{tab.name}}</div>
                    <div class="score">score: {{tab.score}}</div>
                </div>
            </div>
            <!-- <div v-if="valid(tab)" class="valid-text">*Required fields.</div> -->
        </div>
            <!-- TODO: 移除 :class="{'active': $store.state.body.Result.isSelect} -->
        <div class="tab" @click="checkTab">
            <div class="tab-area">
                <div class="no">
                    <div class="ball">5</div>
                </div>
                <div class="wordings">
                    <div class="text">Result</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs mobile">
        <swiper :options="swiperOption" ref="mySwiper">
            <swiper-slide
                v-for="(tab,index) in tabs"
                :key="tab.name"
            >
                <div clas="tab-container" :class="{'active': tab.component === currentTabComponent}">
                    <div class="tab-area"  @click="switchTab(tab.component); selectTab(tab.abbreviation)">
                        <!-- TODO: 移除 :class="{'checked': canAccessToResult[tab.id - 1]}" -->
                        <div class="no">
                            <!-- TODO: 移除 :class="{'hidden-number': canAccessToResult[tab.id - 1]}" -->
                            <div class="ball">
                                {{tab.id}}
                            </div>
                        </div>
                        <div class="wordings">
                            <div class="text">{{tab.name}}</div>
                            <div class="score">score: {{tab.score}}</div>
                        </div>
                    </div>
                    <!-- <div v-if="valid(tab)" class="valid-text">*Required fields.</div> -->
                </div>
            </swiper-slide>
            <swiper-slide>
                <!-- TODO: 移除 :class active -->
                <div class="tab-container">
                    <div class="tab-area" @click="checkTab">
                        <div class="no">
                            <div class="ball">5</div>
                        </div>
                        <div class="wordings">
                            <div class="text">Result</div>
                            <div class="score" style="visibility: hidden">score:</div>
                        </div>
                    </div>
                </div>
            </swiper-slide>
        </swiper>
    </div>
    <keep-alive>
        <!-- :is="currentTabComponent" -->
        <component 
            v-bind="{
                selectTab: selectTab,
                goToNextSlide: goToNextSlide,
                goToFirstSlide: goToFirstSlide
            }"
            :is="currentTabComponent"
            @changeBodyScore="changeBodyScore"
        >
        </component>
    </keep-alive>
</div>