<div class="calculator-area">
    <div class="title">Calculator</div>
    <div class="description">Determine the training volume in each of muscle of the four body regions.</div>
    <Tab
        :tabs="tabs"
        :current="currentSectionComponent"
        :canCheckTab="canCheckTab"
        @changeTab="changeTab"
    >
    </Tab>
    <div class="swiper">
        <swiper :options="swiperOption" ref="mySwiper">
            <swiper-slide
                v-for="tab in tabs"
                :key="tab.name"
            >
                <div
                    class="tab-container"
                    :class="{
                        'active': tab.component === currentSectionComponent,
                        'valid': valid(tab)
                    }"
                >
                    <div
                        class="tab-area"
                        @click="changeTab(tab)"
                    >
                        <div class="no" :class="{'checked': tab.complete}">
                            <div class="ball" v-if="!tab.complete">{{tab.id}}</div>
                        </div>
                        <div class="wordings">
                            <div class="text">{{tab.name}}</div>
                            <div class="score" v-if="tab.hasOwnProperty('score')">score: {{tab.score}}</div>
                        </div>
                    </div>
                    <div v-if="valid(tab)" class="valid-text">*Required fields.</div>
                </div>
            </swiper-slide>
        </swiper>
    </div>
    <keep-alive>
        <component 
            v-bind="{
                goToNextSlide: goToNextSlide,
                goToFirstSlide: goToFirstSlide
            }"
            :is="currentSectionComponent"
            :currentSectionComponent="currentSectionComponent"
            :currentBody="currentBody"
            :headneckScore="tabs.HeadNeckSection.score"
            :upperScore="tabs.UpperExtremitiesSection.score"
            :trunkScore="tabs.TrunkSection.score"
            :lowerScore="tabs.LowerExtremitiesSection.score"
            @changeTab="changeTab"
            @changeBodyScore="changeBodyScore"
            @changeTabStatus="changeTabStatus"
            @goToResult="goToResult"
            @goToFirstSlide="goToFirstSlide"
        >
        </component>
    </keep-alive>
</div>