.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  
    @media screen and (min-width: 769px) {
      margin-bottom: 120px;
    }
  
    & > .description {
      margin-top: 25px;
      opacity: 0.5;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: 0.5px;
      color: #000000;
      text-align: center;
  
      @media screen and (min-width: 769px) {
        margin-top: 60px;
        font-size: 20px;
      }
    }
  
    & > .tabs {
      display: flex;
      padding: 0 20px;
      margin-top: 25px;
      cursor: pointer;
      flex-wrap: wrap;
      justify-content: center;
  
      @media screen and (min-width: 769px) {
        margin-top: 60px;
        flex-wrap: nowrap;
      }

      @media screen and (orientation: landscape){
        flex-wrap: wrap;
        margin-top: 25px;
      }
  
      & > .tab {
        display: flex;
        align-items: center;
        width: calc(50% - 20px);
        height: 52px;
        margin: 0;
        margin-bottom: 10px;
        font-size: 14px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        line-height: 1.4;
        color: #000000;
        font-family: Arial;
  
        &:nth-child(2n) {
          margin-left: 10px;
        }
  
        &:nth-child(2n + 1) {
          margin-right: 10px;
        }
  
        @media screen and (min-width: 769px) {
          width: 220px;
          height: 76px;
          margin-right: 21px;
          margin-bottom: 60px;
          font-size: 20px;
        }

        @media screen and (orientation: landscape){
          width: calc(50% - 20px);
          height: 52px;
          margin: 0;
          margin-bottom: 10px;
          font-size: 14px;
        }
  
        & > .text {
          margin-left: 10px;
  
          @media screen and (min-width: 769px) {
            margin-left: 28px;
          }
        }
      }
  
      & > .active {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
        & > .text {
          font-weight: bold;
        }
      }
    }
}