@font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    src: url('../assets/fonts/ITCAvantGardePro-Bk.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    src: url('../assets/fonts/ITCAvantGardePro-Md.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    src: url('../assets/fonts/ITCAvantGardePro-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    src: url('../assets/fonts/ITCAvantGardePro-Bk-italic.otf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    src: url('../assets/fonts/ITCAvantGardePro-Bold-italic.otf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@import '~vue-slider-component/lib/theme/default.scss';
@import '~swiper/dist/css/swiper.css';
@import '~vue-loading-overlay/dist/vue-loading.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'itc-avant-garde-gothic-pro', Arial, sans-serif;
    font-style: normal;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

h1 {
    font-size: 40px;
    font-weight: 300;

    @media screen and (max-width: 769px) {
        font-size: 32px;
    }
}

h2 {
    font-size: 16px;
    font-weight: 300;
}

a,
a:active,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

input, button {
    outline: none;
}

dialog {
    margin: 0;
    border: none;
}

@media all and (display-mode: standalone) {
    div {
        user-select: none;
    }

    body {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        // touch-action: none;
    
        &::-webkit-scrollbar {
            display: none;
            width: 0 !important;
            height: 0 !important;
            -webkit-appearance: none;
            background: transparent;
        }
    }

    input[type=text] {   
        /* Remove iOS input shadow */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}
@media screen and (orientation:portrait){
    // 直立時套用
}

@media screen and (orientation:landscape){
    // 橫放時套用
}