@font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    src: url('../assets/fonts/ITCAvantGardePro-Bk.ttf');
}

// @import '~vue-slider-component/lib/theme/default.scss';
@import '~swiper/dist/css/swiper.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'itc-avant-garde-gothic-pro', Arial, sans-serif;
    margin: 0;
}

a,
a:active,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

input, button {
    outline: none;
}

dialog {
    margin: 0;
    border: none;
}