@font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    src: url('../assets/fonts/ITCAvantGardePro-Bk.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    src: url('../assets/fonts/ITCAvantGardePro-Md.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    src: url('../assets/fonts/ITCAvantGardePro-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    src: url('../assets/fonts/ITCAvantGardePro-Bk-italic.otf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    src: url('../assets/fonts/ITCAvantGardePro-Bold-italic.otf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@import '~vue-slider-component/lib/theme/default.scss';
@import '~swiper/dist/css/swiper.css';
@import '~vue-loading-overlay/dist/vue-loading.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'itc-avant-garde-gothic-pro', Arial, sans-serif;
    font-style: normal;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

h1 {
    font-size: 40px;
    font-weight: 300;

    @media screen and (max-width: 769px) {
        font-size: 32px;
    }
}

h2 {
    font-size: 16px;
    font-weight: 300;
}

a,
a:active,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

input, button {
    outline: none;
}

dialog {
    margin: 0;
    border: none;
}